In [1]:
import numpy as np
import pandas as pd

#### Seriler / Series

> Pandas serileri sözlükler gibi olan kısmı aslında bize excel tablosu gibi gösterir.
* Pandasa veri bilimi çevresi tarafından excel olarak nitelendirilebilir...

In [2]:
benimSozlugum = {"Ahmet" : 50, "Melis" : 40, "Aydan" : 29} # klasik olarak sözlük oluşturduk...

In [4]:
pd.Series(benimSozlugum) # pandas serisine dönüştürüldü...

Ahmet    50
Melis    40
Aydan    29
dtype: int64

In [6]:
type(pd.Series(benimSozlugum)) # türünü görüntüledik yani pandas serisi olduğunu görüntülemiş olduk...

pandas.core.series.Series

In [30]:
benimYaslarim = [20,30,40]
benimIsimListem = ["Ayşenur", "Fatmanur", "Zeynep"]

> sadece listeyi pandas serisine çevirirsek bize indeksli bir şekilde dönüştürme gerçekleştirir....

In [31]:
pd.Series(benimYaslarim) # 0, 1, 2 diyerek indeksli bir şekilde pandas serisine dönüştürme yaptı...

0    20
1    30
2    40
dtype: int64

> iki farklı listeyi pandas serisine dönüştürürsek bize temel bir excel tablosu oluşturacaktır...

In [32]:
pd.Series(benimYaslarim, benimIsimListem) # benimyaslarım ile benim isim listemi pandas serisine dönüştürür...

Ayşenur     20
Fatmanur    30
Zeynep      40
dtype: int64

> bu şekilde tabiki kolay ama gerçek hayatta bu tip verilerle pek karşılaşmayız daha çok sayılı verilerle karşılaşırız. Bu durumlarda işlerin birbirine girmemesi için index ve data diye series bölümlenmesi gerçekleştiririz.

In [33]:
pd.Series(data=benimYaslarim, index=benimIsimListem) # yani veriyi index ve data olarak pandas serisi haline getirdik.

Ayşenur     20
Fatmanur    30
Zeynep      40
dtype: int64

> Numpy dizilerini de pandas serilerine dönüştürmek mümkündür

In [34]:
NumpyDizisi = np.array([30,40,50]) # numpy dizisini oluşturdum

In [35]:
NumpyDizisi # numpy dizisini görüntüledik type kullanarak türüne bakabilirsiniz

array([30, 40, 50])

In [36]:
pd.Series(NumpyDizisi) # numpy dizisini pandas serisine dönüştürdük ve tek bir girdi olduğu için kendisi otomatik olarak indeksledi...

0    30
1    40
2    50
dtype: int32

In [37]:
pd.Series(data = NumpyDizisi, index = benimIsimListem) # numpy dizisine kendimiz index atadık...

Ayşenur     30
Fatmanur    40
Zeynep      50
dtype: int32

> atıyorum bu şekilde Ayşenur 30 gibi değilde yanında indeks numarasını da görüntülemek istiyorum diyelim bunu ise for döngüsü kullanarak gerçekleştirebiliriz...

In [39]:
for i, (value, label) in enumerate(zip(NumpyDizisi, benimIsimListem)): #enumerate içerisinde zipleyerek indeksleme gerçekleştirdim...
    print(i, value, label)

0 30 Ayşenur
1 40 Fatmanur
2 50 Zeynep

> Buraya kadar sürekli olarak integer türünde çalışarak pandas serileri oluşturduk. Bunu farklı veri tiplerinde de kullanarak gerçekleştirebiliriz...

In [41]:
# kendimiz manuel olarak da pandas serisi oluşturabiliriz...

pd.Series(["Ahmet","Melek","Atlas"],[1,2,3]) # manuel olarak içerisine pandas serisini oluşturduk...

1    Ahmet
2    Melek
3    Atlas
dtype: object

In [49]:
pd.Series(["Melike","Furkan","Alper"], [np.arange(3)]) # pandas serilerinin içerisinde arange kullabilirim...

0    Melike
1    Furkan
2     Alper
dtype: object

> örneğin bir yarışma var ve burada yarışmanın sonuçlarını pandas serisi olarak görüntüleyelim...

In [54]:
yarismaSonucu1 = pd.Series([10,5,3],["Melike","Furkan","Alper"]) # yarışmacıların puanları --> yarışmacının adları

In [56]:
yarismaSonucu1

Melike    10
Furkan     5
Alper      3
dtype: int64

In [57]:
yarismaSonucu2 = pd.Series([5,10,3],["Melike","Furkan","Alper"]) 
# yarışmacıların puanları --> birebir aynı isme sahip olan (burası önemli) yarışmacıların adları

In [58]:
yarismaSonucu2

Melike     5
Furkan    10
Alper      3
dtype: int64

In [59]:
yarismaSonucu2["Melike"] # indeks değerine göre hangi puan aldığını görüntülemek istedim...

5

> yukarıda oluşturmuş olduğum iki seriesi toplayabilirim...

In [62]:
sonSonuc = yarismaSonucu1 + yarismaSonucu2 # iki tane aynı indekse sahip pandas serilerini toplayabilirim

In [63]:
sonSonuc

Melike    15
Furkan    15
Alper      6
dtype: int64

* peki indeksler eğer farklı olsaydı yani burada "Melike","Furkan","Alper" değerleri iki farklı pandas serilerinde farklı olsaydı program çöker miydi ? 
cevap hayır çökmezdi şöyle bir sonuç çıkardı bunu yeni bir örnekte anlatayım

In [68]:
farkliSeries = pd.Series([20,30,40,50,60],["a","b","c","d","e"]) # birinci pandas seriesi oluşturdum

In [69]:
farkliSeries2 = pd.Series([5,4,2,10,45],["a","b","d","c","g"]) # ikinci pandas serisi oluşturdum yalnız burada indeksler diğerinden farklı

In [70]:
farkliSeries

a    20
b    30
c    40
d    50
e    60
dtype: int64

In [71]:
farkliSeries2

a     5
b     4
d     2
c    10
g    45
dtype: int64

In [72]:
SeriesSonuc = farkliSeries + farkliSeries2

> İndekste keşisen indekslerdeki dataları kendi içerisinde toplar indeksi olup datası olmayan veriler içinde programı çökertmez Nan yani null veya boş değer döndürür pandas Seriesler...
* Aşağıda da bunun örnek gösterimi mevcuttur...

In [73]:
SeriesSonuc

a    25.0
b    34.0
c    50.0
d    52.0
e     NaN
g     NaN
dtype: float64