In [1]:
import pandas as pd
import numpy as np

In [14]:
dataFrame = pd.read_excel("ornekData.xlsx") # excel formatını okudu

In [8]:
dataFrame

  Unnamed: 0  Maas   Yas         Departman
0        Ali   100  20.0           Yazılım
1       Ayşe   150  40.0             Satış
2      Fatma    50  30.0  İnsan Kaynakları
3      Ahmet   200  10.0               NaN
4     Melisa   300   NaN           Yönetim
5      Fırat   500  45.0            Finans

> Görüldüğü gibi eksik değerler var bu değerleri nasıl düşürebiliriz ?

In [10]:
doluDegerDataFrame = dataFrame.dropna()

In [11]:
doluDegerDataFrame

  Unnamed: 0  Maas   Yas         Departman
0        Ali   100  20.0           Yazılım
1       Ayşe   150  40.0             Satış
2      Fatma    50  30.0  İnsan Kaynakları
5      Fırat   500  45.0            Finans

* Peki eksik değerlerden arındılmış dataframe'i nasıl excele geri aktaracağız ?

In [13]:
doluDegerDataFrame.to_excel("yeniDeger2.xlsx") # yeni formatta gönderdi..

> Sürekli olarak excel formatında çalışmıyoruz aynı zamanda .csv uzantılı dosyalarda çalışabiliriz...

* read_csv --> .csv formatında veri okur...
* to_csv --> .csv formatında veri yazar...